doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Travel Log
    link(rel='stylesheet' href="./css/home.css")
  body
    script(src="https://accounts.google.com/gsi/client" async)
    div
      header
        h1 Travel Log 
        a(href='./login') Login
      main
        img#large(src='./images/hero.png')
        img#small(src='./images/hero-mobile.png')
        p Get a personal travel log