doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Travel Log
    link(rel='stylesheet' href="./css/home.css")
  body
    div
      header
        h1 Travel Log 
        if !user
          a(href='./login') Login
        else 
          span Hello #{user.firstName}
          form(method="post", action="/logout", value="Logout")
            input(type='submit')
      main
        img#large(src='./images/hero.png')
        img#small(src='./images/hero-mobile.png')
        p Get a personal travel log