extends base

block variables 
  - const title = "Welcome!"

block body 
  h1 Choose a username

  if error 
    p ERROR: #{error}

  form(method="post")
    span username 
    input(type="text", name="username", required=true)
    br

    input(type="submit")