doctype html
html(lang='en')
  head
    title Travel Log
  body
    div
      h1 Choose a username
      input
      button#check Check
    div#message
      p
      button#submit(style="display:none") Submit
    script(
      src='./welcome.js'
      uri=uri
      email=email  
    )