body {
  font-family: sans-serif;
  max-width: 60%;
  margin: 0 auto;
  color: #1e1e1e;
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  border-radius: 2px;
}
