body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-color: #d138bf;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.last-marker {
  background-color: #44ccff;
}

button {
  padding: 4px 16px;
  cursor: pointer;
}

#edit {
  position: absolute;
  left: 0;
  margin-top: 6px;
  margin-left: 6px;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  font-family: sans-serif;
  background-color: #111;
  color: #eee;
  padding: 8px 16px;
  border-radius: 2px;
  margin-left: 6px;
  margin-top: 6px;
}

.modal p {
  margin: inherit;
}

#input {
  padding: 3px 6px;
  border-radius: 1px;
  outline: none;
  border: none;
}

#input:focus::placeholder {
  color: transparent;
}

#done {
  margin-top: 24px;
}
